In [1]:
# for Importing the Dataset
import pandas as pd

In [2]:
# lets read the dataset
data = pd.read_csv('amazon_alexa.tsv', delimiter = '\t')

# lets check the shape of the dataset
data.shape

(3150, 5)

In [3]:
# lets check the head of the dataset
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [4]:
# calculating the Character Count in the Reviews
data['char_count'] = data['verified_reviews'].apply(len)

In [5]:
# calculating the Word Count
data['word_count'] = data['verified_reviews'].apply(lambda x: len(x.split()))

In [6]:
# Calculating the Word Density
data['word_density'] = data['char_count'] / (data['word_count']+1)

In [8]:
# importing the List of Punctuations
import string
punctuation = string.punctuation

# Calculating the Punctuation Count
data['punctuation_count'] = data['verified_reviews'].apply(lambda x: len("".join(_ for _ in x if _ in punctuation)))

In [9]:
## lets summarize the Newly Created Features
data[['char_count','word_count','word_density','punctuation_count']].describe()

        char_count   word_count  word_density  punctuation_count
count  3150.000000  3150.000000   3150.000000        3150.000000
mean    132.049524    25.293016      4.605345           3.887937
std     182.099952    34.584971      1.134737           5.762348
min       1.000000     0.000000      0.500000           0.000000
25%      30.000000     6.000000      4.269231           1.000000
50%      74.000000    14.000000      4.805665           2.000000
75%     165.000000    32.000000      5.207974           5.000000
max    2851.000000   526.000000     32.500000         121.000000