In [4]:
import polars as pl

# Create a DataFrame with a complex nested JSON column
df = pl.DataFrame({
    "id": [1, 2, 3],
    "data": [
        {
            "name": "John",
            "age": 25,
            "address": {
                "city": "New York",
                "state": "NY",
                "details": {
                    "zip_code": "10001",
                    "coordinates": {
                        "latitude": 40.7128,
                        "longitude": -74.0060
                    }
                }
            }
        },
        {
            "name": "Jane",
            "age": 30,
            "address": {
                "city": "San Francisco",
                "state": "CA",
                "details": {
                    "zip_code": "94103",
                    "coordinates": {
                        "latitude": 37.7749,
                        "longitude": -122.4194
                    }
                }
            }
        },
        {
            "name": "Bob",
            "age": 35,
            "address": {
                "city": "Chicago",
                "state": "IL",
                "details": {
                    "zip_code": "60601",
                    "coordinates": {
                        "latitude": 41.8781,
                        "longitude": -87.6298
                    }
                }
            }
        }
    ]
})

In [22]:
print(df['data'][0].keys())

dict_keys(['name', 'age', 'address'])

In [19]:
def flatten_nested_json(df, column):
    # Get the nested column as a Series
    nested_series = df[column]

    # Extract keys from the nested JSON
    keys = set()
    for data in nested_series:
        keys.update(data.keys())

    # Create new columns for each key and populate with nested values
    for key in keys:
        new_column = [data[key] if key in data else None for data in nested_series]
        df = df.with_columns(pl.Series(new_column, key))

    # Drop the original nested column
    df = df.drop(column)

    return df

# Flatten the nested JSON column
df_flattened = flatten_nested_json(df, "data")

# Print the flattened DataFrame
print(df_flattened)

ValueError: Series name must be a string.