In [115]:
json_obj = {
    'info_type': {
        'type_1': 1,
        'type_2': 2
    }, 
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
    'info': {
        'president': 'John Kasich',
        'contacts': {
          'email': {
              'admission': 'admission@abc.com',
              'general': 'info@abc.com'
          },
          'tel': '123456789',
      }
    },
    'students': [
      { 'name': 'Tom' },
      { 'name': 'James' },
      { 'name': 'Jacqueline' }
    ],
}

In [109]:
import pandas as pd
def flatten_json(nested_json):
    out = {}
    def flatten(data, name=''):
        if(type(data) is dict):
            for i in data:
                flatten(data[i], name + i + '_')
        elif(type(data) is list):
            counter = 0
            for i in data:
                flatten(i, name + str(counter) + '_')
                counter+=1
        else:
            out[name[:-1]] = data
                
    flatten(nested_json)
    return out

In [110]:
result = flatten_json(json_obj)

In [113]:
data = pd.DataFrame([result])
print(data.to_csv(index=False))

info_type_type_1,info_type_type_2,school,location,ranking,info_president,info_contacts_email_admission,info_contacts_email_general,info_contacts_tel,students_0_name,students_1_name,students_2_name
1,2,ABC primary school,London,2,John Kasich,admission@abc.com,info@abc.com,123456789,Tom,James,Jacqueline

In [114]:
data.head()

,info_type_type_1,info_type_type_2,school,location,ranking,info_president,info_contacts_email_admission,info_contacts_email_general,info_contacts_tel,students_0_name,students_1_name,students_2_name
0,1,2,ABC primary school,London,2,John Kasich,admission@abc.com,info@abc.com,123456789,Tom,James,Jacqueline

In [118]:
import pandas as pd

def flatten_json(nested_json):
    out = {}
    def flatten(data, name=''):
        if(type(data) is dict):
            for i in data:
                flatten(data[i], name + i + '_')
        elif(type(data) is list):
            counter = 0
            for i in data:
                flatten(i, name + str(counter) + '_')
                counter+=1
        else:
            out[name[:-1]] = data
                
    flatten(nested_json)
    return out

def main():
    try:
        data = json_obj
        result = flatten_json(data)
        data = pd.DataFrame([result])
        print(data.to_csv(index=False))
    except:
        print("Error: ", data)
        raise Exception(sys.exc_info()[0])

if __name__ == '__main__':
    main()

info_type_type_1,info_type_type_2,school,location,ranking,info_president,info_contacts_email_admission,info_contacts_email_general,info_contacts_tel,students_0_name,students_1_name,students_2_name
1,2,ABC primary school,London,2,John Kasich,admission@abc.com,info@abc.com,123456789,Tom,James,Jacqueline