# The sinking of the Titanic is one of the most infamous shipwrecks in history. Some key points are:  
● On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. Translated 32% survival rate. 
● One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. 
● Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 1. Find the total number of males and females on-board.

In [13]:
print("Total No. of males on-board: ", len(data[data['Sex'] == 'female']))

Total No. of males on-board:  314

In [14]:
print("Total No. of females on-board: ", len(data[data['Sex'] == 'male']))

Total No. of females on-board:  577

# 2. Find the total number of males survived during the disaster

In [18]:
male_survived = data[(data['Sex'] == 'male') & (data['Survived'] == 1)]

In [20]:
print(len(male_survived))

109

# 3. Find the total number of females surviving traveling on passenger class 1.

In [21]:
female_survived_class_1 = data[(data['Sex'] == 'female') & (data['Survived'] == 1) & (data['Pclass'] == 1)]

In [22]:
print("Total No. of females survived traveling on Passenger Class 1: ", len(female_survived_class_1))

Total No. of females survived traveling on Passenger Class 1:  91

# 4. Find the average fare paid by passengers traveling on passenger class 2.

In [23]:
fair_passenger_class_2 = data[(data['Pclass'] == 2)]

In [25]:
fair_passenger_class_2_avg = (fair_passenger_class_2['Fare'].mean())

In [26]:
print("Average fre paid by passengers traveling on passenger class 2: ", fair_passenger_class_2_avg)

Average fre paid by passengers traveling on passenger class 2:  20.66218315217391